<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회비 입금</title>
</head>
<body>
<h2>회비 입금</h2>
    <form action="" method="post">
        <p>회원 :
            <select name="member">
                <option>회원1</option>
                <option>회원2</option>
                <option>회원3</option>
                <option>회원4</option>
            </select>
        </p>
        <p>입금액 : <input type="text"></p>
        <a href="#">입금</a>
    </form>
</body>
</html>