<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>회원 추가</title>
    </head>
    <body>
        <h1>회원 추가</h1>
        <form action="" method="post">
            <p>이름 : <input type="text" id="name" name="name"></p>
            <p>생년월일 : <input type="text" id="birth" name="birth"></p>
            <p>등록 일시 : <input type="text" id="addDate" name="addDate"></p>
            <a href="#">저장</a>
        </form>
    </body>
</html>