<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회비 사용 내역 조회</title>
</head>
<body>
<h2>회비 사용 내역 조회</h2>
<p>기간 :
    <input type="text"> ~ <input type="text">
</p>
<table border="1">
    <th>이름</th>
    <th>금액</th>
    <th>입금일</th>
    <tr>
        <td>첫번째 칸</td>
        <td>두번째 칸</td>
        <td>세번째 칸</td>
    </tr>
    <tr>
        <td>첫번째 칸</td>
        <td>두번째 칸</td>
        <td>세번째 칸</td>
    </tr>
</table>
페이징 처리
</body>
</html>