<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>관리자 회원가입 페이지</title>
    </head>
    <body>
        <h1>관리자 회원가입</h1>
        <form action="" method="post">
            <p>아이디 : <input type="text" id="email" name="email"></p>
            <p>비밀번호 : <input type="text" id="passoword1" name="passoword1"></p>
            <p>비밀번호 확인 : <input type="text" id="password2" name="password2"></p>
            <p>이름 : <input type="text" id="name" name="name"></p>
            <a href="#">회원가입</a><br/>
        </form>
    </body>
</html>